<p id="notice"><%= notice %></p>

<h1>Op Code Links</h1>

<table>
  <thead>
    <tr>
      <th>Has many</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @op_code_links.each do |op_code_link| %>
      <tr>
        <td><%= op_code_link.has_many %></td>
        <td><%= op_code_link.order %></td>
        <td><%= link_to 'Show', op_code_link %></td>
        <td><%= link_to 'Edit', edit_op_code_link_path(op_code_link) %></td>
        <td><%= link_to 'Destroy', op_code_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Op Code Link', new_op_code_link_path %>
