<p id="notice"><%= notice %></p>

<h1>Complications</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Area</th>
      <th>Severity</th>
      <th>Comment</th>
      <th>Operation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complications.each do |complication| %>
      <tr>
        <td><%= complication.title %></td>
        <td><%= complication.area %></td>
        <td><%= complication.severity %></td>
        <td><%= complication.comment %></td>
        <td><%= complication.operation %></td>
        <td><%= link_to 'Show', complication %></td>
        <td><%= link_to 'Edit', edit_complication_path(complication) %></td>
        <td><%= link_to 'Destroy', complication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complication', new_complication_path %>
