<%= form_for(cpt_code) do |f| %>
  <% if cpt_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cpt_code.errors.count, "error") %> prohibited this cpt_code from being saved:</h2>

      <ul>
      <% cpt_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :area %>
    <%= f.text_field :area %>
  </div>

  <div class="field">
    <%= f.label :cptcode %>
    <%= f.text_field :cptcode %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
