<p id="notice"><%= notice %></p>

<p>
  <strong>Cats:</strong>
  <%= @cpt_code.cats %>
</p>

<p>
  <strong>Mouse:</strong>
  <%= @cpt_code.mouse %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cpt_code.description %>
</p>

<%= link_to 'Edit', edit_cpt_code_path(@cpt_code) %> |
<%= link_to 'Back', cpt_codes_path %>
