<%= form_for(cpt) do |f| %>
  <% if cpt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cpt.errors.count, "error") %> prohibited this cpt from being saved:</h2>

      <ul>
      <% cpt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<<<<<<< HEAD:app/views/cpts/_form.html.erb
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
=======
    <%= f.label :area %>
    <%= f.text_field :area %>
  </div>

  <div class="field">
    <%= f.label :cptcode %>
    <%= f.text_field :cptcode %>
>>>>>>> d7457d94249adc4805dbc5ca27b6304c398cb1ac:app/views/cpt_codes/_form.html.erb
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
