<p id="notice"><%= notice %></p>

<h1>Cpts</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Code</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cpts.each do |cpt| %>
      <tr>
        <td><%= link_to cpt.category, :category => cpt.category %></td>
        <td><%= cpt.code %></td>
        <td><%= cpt.description %></td>
        <td><%= link_to 'Show', cpt %></td>
        <td><%= link_to 'Edit', edit_cpt_path(cpt) %></td>
        <td><%= link_to 'Destroy', cpt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cpt', new_cpt_path %>
