<p id="notice"><%= notice %></p>

<h1>Opcodes</h1>

<table>
  <thead>
    <tr>
      <th>Operation</th>
      <th>Cpt codes</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opcodes.each do |opcode| %>
      <tr>
        <td><%= opcode.operation %></td>
        <td><%= opcode.cpt_codes %></td>
        <td><%= opcode.order %></td>
        <td><%= link_to 'Show', opcode %></td>
        <td><%= link_to 'Edit', edit_opcode_path(opcode) %></td>
        <td><%= link_to 'Destroy', opcode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opcode', new_opcode_path %>
