<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div>
    	<%= link_to 'Surgeons', surgeons_path %>
    	&nbsp; | &nbsp;
    	<%= link_to 'Patients', patients_path %>
    	&nbsp; | &nbsp;
    	<%= link_to 'Operations', operations_path %>
    	&nbsp; | &nbsp;
<<<<<<< HEAD
    	<%= link_to 'CPT', cpts_path %>
      &nbsp; | &nbsp;
      <% if user_signed_in? %>
          <%= link_to('Logged in', edit_user_registration_path) %>
        <% else %>
          <%= link_to('Login', new_user_registration_path)  %>
      <% end %>
=======
    	<%= link_to 'CPT Codes', cpt_codes_path %>
      &nbsp; | &nbsp;
      <%= link_to 'Complications', complications_path %>
>>>>>>> d7457d94249adc4805dbc5ca27b6304c398cb1ac
    </div>
    <%= yield %>
    <div>
    	Footer
    </div>
  </body>
</html>
