<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div>
    	<%= link_to 'Surgeons', surgeons_path %>
    	&nbsp; | &nbsp;
    	<%= link_to 'Patients', patients_path %>
    	&nbsp; | &nbsp;
    	<%= link_to 'Operations', operations_path %>
    	&nbsp; | &nbsp;
    	<%= link_to 'CPT Codes', cpt_codes_path %>
    </div>
    <%= yield %>
    <div>
    	Footer
    </div>
  </body>
</html>
