<%= form_for(operation) do |f| %>
  <% if operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
      <% operation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :or_date %>
    <%= f.date_select :or_date %>
  </div>

  <div class="field">
    <%= f.label :surgeon_id %>
    <%= f.collection_select :surgeon_id, Surgeon.order(:lastname),:id,:name_for_display%>
  </div>

  <div class="field">
    <%= f.label :patient_id %>
    <%= f.collection_select :patient_id, Patient.order(:mrn),:id ,:mrn %>
  </div>

  <%= fields_for(@cpt_operation) do |co| %>
    <div class="field">
    <%= co.label "All CPT" %><br />
    <%= collection_select(:cpts, :id, @all_cpts ,:id, :code, {}, {:multiple => true}) %>
    </div>
  <% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
